@import "compass/css3";
$black: black;
$red: #ea0623;
$white: white;

// Sky Variables
$background: #fffaf0;
$sky: linear-gradient(to bottom, #020107 0%, #201b46 40%);
$skyRadius: 600px;
$star1ScrollDuration: 100s;
$star2ScrollDuration: 125s;
$star3ScrollDuration: 175s;
$starStartOffset: 500px;
$star1Size: 1px;
$star2Size: 2px;
$star3Size: 3px;
$star1Count: 800;
$star2Count: 700;
$star3Count: 300;

// Grass Variables
$backgroundGrass: #01636f;
$middleGrass: #3295ac;
$foregroundGrass: #203a43;
$grassBladeHeight: 300px;
$grassBladeBorder: 100px;

html,
body {
  height: 100%;
  width: 100%;
  background: $background;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  .circle-container {
    width: 400px;
    height: 400px;
    background: $sky;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
    overflow: hidden;
    @include border-radius(100%);
    position: absolute;
  }

  // helper class to center all contents
  .center {
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translate(-50%, -50%);
  }
  // glowing animation, because it's ours!
  @include keyframes(glowing) {
    50% {
      box-shadow: 0px 0px 60px #fff;
      border-color: #595959;
    }
  }
  // background grass/blades
  .background-grass {
    position: absolute;
    width: 400px;
    .background-blade {
      position: absolute;
      background: $backgroundGrass;
      z-index: 2;
      &:nth-child(1) {
        height: $grassBladeHeight;
        width: 38px;
        top: 185px;
        left: -1px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(2) {
        left: 34px;
        width: 24px;
        height: $grassBladeHeight;
        top: 190px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(3) {
        left: 56px;
        width: 37px;
        height: $grassBladeHeight;
        top: 210px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(4) {
        left: 89px;
        width: 17px;
        height: $grassBladeHeight;
        top: 210px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(5) {
        left: 104px;
        width: 43px;
        height: $grassBladeHeight;
        top: 200px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(6) {
        left: 270px;
        width: 47px;
        height: $grassBladeHeight;
        top: 180px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(7) {
        left: 315px;
        width: 27px;
        height: $grassBladeHeight;
        top: 200px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(8) {
        left: 340px;
        width: 27px;
        height: $grassBladeHeight;
        top: 190px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(9) {
        left: 365px;
        width: 40px;
        height: $grassBladeHeight;
        top: 180px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(10) {
        left: 140px;
        width: 50px;
        height: $grassBladeHeight;
        top: 210px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(11) {
        left: 180px;
        width: 40px;
        height: $grassBladeHeight;
        top: 205px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(12) {
        left: 210px;
        width: 40px;
        height: $grassBladeHeight;
        top: 215px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(13) {
        left: 220px;
        width: 40px;
        height: $grassBladeHeight;
        top: 205px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(14) {
        left: 255px;
        width: 25px;
        height: $grassBladeHeight;
        top: 195px;
        @include border-top-left-radius($grassBladeBorder);
      }
    }
  }

  // middle grass/blades
  .middle-grass {
    position: absolute;
    width: 400px;
    .middle-blade {
      position: absolute;
      background: $middleGrass;
      z-index: 2;
      &:nth-child(1) {
        height: $grassBladeHeight;
        width: 45px;
        top: 215px;
        left: -1px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(2) {
        left: 40px;
        width: 30px;
        height: $grassBladeHeight;
        top: 205px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(3) {
        left: 66px;
        width: 24px;
        height: $grassBladeHeight;
        top: 230px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(4) {
        left: 89px;
        width: 35px;
        height: $grassBladeHeight;
        top: 230px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(5) {
        left: 115px;
        width: 50px;
        height: $grassBladeHeight;
        top: 220px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(6) {
        left: 280px;
        width: 50px;
        height: $grassBladeHeight;
        top: 210px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(7) {
        left: 320px;
        width: 35px;
        height: $grassBladeHeight;
        top: 210px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(8) {
        left: 350px;
        width: 20px;
        height: $grassBladeHeight;
        top: 220px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(9) {
        left: 360px;
        width: 40px;
        height: $grassBladeHeight;
        top: 210px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(10) {
        left: 260px;
        width: 40px;
        height: $grassBladeHeight;
        top: 210px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(11) {
        left: 240px;
        width: 40px;
        height: $grassBladeHeight;
        top: 220px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(12) {
        left: 220px;
        width: 40px;
        height: $grassBladeHeight;
        top: 230px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(13) {
        left: 200px;
        width: 30px;
        height: $grassBladeHeight;
        top: 240px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(14) {
        left: 160px;
        width: 45px;
        height: $grassBladeHeight;
        top: 240px;
        @include border-top-right-radius($grassBladeBorder);
      }
    }
  }

  // foreground grass/blades
  .foreground-grass {
    position: absolute;
    width: 400px;
    .foreground-blade {
      position: absolute;
      background: $foregroundGrass;
      z-index: 3;
      &:nth-child(1) {
        height: $grassBladeHeight;
        width: 20px;
        top: 230px;
        left: -1px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(2) {
        height: $grassBladeHeight;
        width: 20px;
        top: 250px;
        left: 15px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(3) {
        height: $grassBladeHeight;
        width: 35px;
        top: 240px;
        left: 30px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(4) {
        height: $grassBladeHeight;
        top: 250px;
        width: 35px;
        left: 60px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(5) {
        height: $grassBladeHeight;
        top: 265px;
        width: 40px;
        left: 90px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(6) {
        height: $grassBladeHeight;
        top: 280px;
        width: 20px;
        left: 115px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(7) {
        height: $grassBladeHeight;
        top: 275px;
        width: 40px;
        left: 130px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(8) {
        height: $grassBladeHeight;
        top: 300px;
        width: 20px;
        left: 160px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(9) {
        height: $grassBladeHeight;
        top: 295px;
        width: 40px;
        left: 175px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(10) {
        height: $grassBladeHeight;
        top: 300px;
        width: 15px;
        left: 210px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(11) {
        height: $grassBladeHeight;
        top: 305px;
        width: 30px;
        left: 220px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(12) {
        height: $grassBladeHeight;
        top: 300px;
        width: 45px;
        left: 240px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(13) {
        height: $grassBladeHeight;
        top: 280px;
        width: 30px;
        left: 260px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(14) {
        height: $grassBladeHeight;
        top: 280px;
        width: 20px;
        left: 285px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(15) {
        height: $grassBladeHeight;
        top: 270px;
        width: 40px;
        left: 300px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(16) {
        height: $grassBladeHeight;
        top: 250px;
        width: 40px;
        left: 320px;
        @include border-top-left-radius($grassBladeBorder);
      }
      &:nth-child(17) {
        height: $grassBladeHeight;
        top: 240px;
        width: 20px;
        left: 350px;
        @include border-top-right-radius($grassBladeBorder);
      }
      &:nth-child(18) {
        height: $grassBladeHeight;
        top: 250px;
        width: 45px;
        left: 350px;
        @include border-top-left-radius($grassBladeBorder);
      }
    }
  }

  // Generates star field
  @function create-stars($n, $w, $h) {
    $stars: "#{random($w)}vh #{random($h)}vh #FFF";
    @for $i from 2 through $n {
      $stars: "#{$stars} , #{random($w)}vh #{random($h)}vh #FFF";
    }
    @return unquote($stars);
  }

  @mixin star-template($nStars, $starSize, $scrollSpeed) {
    z-index: 1;
    width: $starSize;
    height: $starSize;
    @include border-radius(50%);
    @include box-shadow(create-stars($nStars, $skyRadius, $skyRadius - 100));
    @include animation(star-animation $scrollSpeed linear infinite);
    &:after {
      content: " ";
      top: -$starStartOffset;
      width: $starSize;
      height: $starSize;
      @include border-radius(50%);
      position: absolute;
      @include box-shadow(
        create-stars($nStars, $skyRadius * 0.5, $skyRadius * 0.8)
      );
    }
  }

  // star animations
  @include keyframes(star-animation) {
    0% {
      transform: rotate(-20deg) translateX(-$skyRadius);
    }
    100% {
      transform: rotate(-20deg) translateX($skyRadius);
    }
  }

  .stars1 {
    @include star-template($star1Count, $star1Size, $star1ScrollDuration);
  }
  .stars2 {
    @include star-template($star2Count, $star2Size, $star2ScrollDuration);
  }
  .stars3 {
    @include star-template($star3Count, $star3Size, $star3ScrollDuration);
  }
}
.container2 {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%) scale(0.45);

  * {
    z-index: 2;
  }
  $bg: darken(#122139, 8%); //#fffafa;
  $case: #122139;
  $casebase: #a52a2a;
  $pink1: #d52d58;
  $pink2: #9e183a;
  $pink3: #b81b43;
  $pink4: #c9204b;
  $green1: #338f37;
  $green2: darken(#066406, 5%);

  @mixin rotatePetal($i, $angle) {
    @if ($i % 2 == 1) {
      $angle: $angle * -1;
    }
    transform: rotate($angle + deg);
  }
  @function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
  }

  .glass {
    height: 350px;
    width: 200px;
    background: $case;
    border-radius: 300px 300px 0px 0px;
    &:before {
      content: "";
      height: 10px;
      width: 10px;
      transform-origin: center;
      border: 10px solid $case;
      border-radius: 100%;
      position: absolute;
      left: 87px;
      top: -25px;
    }
    &:after {
      content: "";
      position: absolute;
      height: 15px;
      width: 250px;
      background: $casebase;
      top: 100%;
      left: -13%;
    }
  }
  .shine {
    width: 12px;
    height: 140px;
    background: white;
    opacity: 0.2;
    position: absolute;
    left: 85%;
    top: 80px;
    border-radius: 100px;
    z-index: 10;
    &:before {
      content: "";
      width: 12px;
      height: 20px;
      position: absolute;
      background: white;
      top: 160px;
      border-radius: 100px;
    }
  }
  .petals {
    & > div {
      position: absolute;
      background: $pink1;
      width: 45px;
      height: 80px;
      top: 55px;
      transition: all 0.5s ease-out;
    }
    & > div:nth-child(1) {
      border-radius: 15px;
      box-shadow: 0px 0px 30px rgba(245, 148, 184, 1);
      left: 80px;
      top: 60px;
      background: $pink1;
    }
    & > div:nth-child(2),
    & > div:nth-child(4),
    & > div:nth-child(6) {
      background: $pink3;
      left: 60px;
      border-radius: 0px 30px 0px 30px;
      transform-origin: bottom right;
    }
    & > div:nth-child(3),
    & > div:nth-child(5),
    & > div:nth-child(7) {
      background: $pink3;
      left: 100px;
      border-radius: 30px 0px 30px 0px;
      transform-origin: bottom left;
    }
    @for $i from 2 to 8 {
      $background: "";
      $top: "";
      $h: "";
      $box: "";
      $angle: 30deg;
      @if ($i == 2 or $i == 3) {
        $background: lighten($pink2, 3%);
        $top: 75px;
        $h: 70px;
        //@if ($i == 3) {
        $box: 0px 0px 50px rgba(245, 148, 184, 0.5);
        //}
      }
      @if ($i == 4 or $i == 5) {
        $background: $pink3;
        $top: 70px;
        $h: 75px;
        $box: 0px 0px 50px rgba(245, 148, 184, 0.5);
      }
      @if ($i == 6 or $i == 7) {
        $background: $pink4;
        $top: 65px;
        $h: 70px;
        $box: 0px 0px 50px rgba(245, 148, 184, 0.3);
      }
      & > div:nth-child(#{$i}) {
        z-index: 7-$i;
        background: $background;
        top: $top;
        height: $h;
        box-shadow: $box;
        @if ($i == 2) {
          animation: bloom2 3s ease-in-out;
        } @else {
          animation: bloom + $i 3s ease-in-out,
            glowing 2.5s ease-in-out infinite;
        }
        animation-fill-mode: forwards;
      }
    }
  }
  .deadPetals {
    & > div {
      position: absolute;
      background: $pink1;
      width: 20px;
      height: 15px;
      top: 120px;
      border-radius: 0px 30px 0px 30px;
      box-shadow: 0px 0px 30px rgba(245, 148, 184, 0.5);
      transition: all 0.5s ease-out;
    }
    @for $i from 1 to 5 {
      & > div:nth-child(#{$i}) {
        left: randomNum(60, 120) + px;
        transform: rotate(-30deg);
        animation: falling 20s $i * 4s ease-in-out infinite;
      }
    }
  }
  .leaves {
    & > div:nth-last-child(1) {
      position: absolute;
      width: 55px;
      height: 30px;
      background: $green1;
      top: 120px;
      left: 75px;
      border-radius: 100px;
    }
    & > div:nth-child(1) {
      position: absolute;
      width: 6px;
      height: 210px;
      background: $green2;
      top: 95px;
      left: 100px;
      border-radius: 0 0 100px 100px;
    }
    & > div:nth-child(2) {
      position: absolute;
      width: 30px;
      height: 50px;
      top: 53px;
      border-radius: 5px 40px 20px 40px;
      background: $green2;
      transform-origin: bottom;
      transform: rotate(-30deg);
      top: 180px;
      left: 80px;
      box-shadow: inset 5px 5px lighten($green2, 5%);
    }
    & > div:nth-child(3) {
      position: absolute;
      width: 30px;
      height: 50px;
      top: 53px;
      border-radius: 40px 5px 40px 20px;
      background: $green2;
      transform-origin: bottom;
      transform: rotate(30deg);
      top: 150px;
      left: 95px;
      box-shadow: inset -5px 5px lighten($green2, 5%);
    }
  }
  .thorns {
    & > div {
      position: absolute;
      width: 0;
      height: 0;
      top: 140px;
    }
    & > div:nth-child(odd) {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $green2;
      left: 105px;
    }
    & > div:nth-child(even) {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid $green2;
      left: 95px;
    }
    & > div:nth-child(1) {
      top: 200px;
    }
    & > div:nth-child(2) {
      top: 170px;
    }
    & > div:nth-child(4) {
      top: 230px;
    }
  }

  @keyframes bloom2 {
    50% {
      transform: rotate(-90deg);
      top: 200px;
      left: 100px;
    }
    100% {
      transform: rotate(-60deg);
      top: 252px;
      left: 50px;
      background: darken($pink4, 20%);
      box-shadow: 0px 0px 0px rgba(245, 148, 184, 0);
    }
  }

  @keyframes bloom3 {
    100% {
      transform: rotate(45deg);
    }
  }

  @keyframes bloom4 {
    100% {
      transform: rotate(-20deg);
    }
  }

  @keyframes bloom5 {
    100% {
      transform: rotate(20deg);
    }
  }

  @keyframes bloom6 {
    100% {
      transform: rotate(-5deg);
    }
  }

  @keyframes bloom7 {
    100% {
      transform: rotate(5deg);
    }
  }

  @keyframes glowing {
    50% {
      background: lighten($pink1, 2%);
      box-shadow: 0px 0px 60px rgba(245, 148, 184, 1);
    }
  }

  @keyframes falling {
    20% {
      top: 335px;
      background: darken($pink4, 10%);
      box-shadow: 0px 0px 0px rgba(245, 148, 184, 0);
    }
    100% {
      top: 335px;
      opacity: 0;
    }
  }
}
